{% extends 'shared/base.html' %}
{% load static %}
{% block content %}


<header class="banner banner-roteiros" >
    <div class="titulo">
        <h1>{{ roteiro.nome }}</h1>
    </div>
    {% include 'home/partials/_header.html' %}
</header>
<main class="main-roteiros">
    
    <section class="exibicao-paises-roteiros">
        
        {% include 'home/partials/_exibir-cards.html' with titulo='Países do roteiro' dados=roteiro.grupo_paises url_nome='pais' page='roteiro' %}
    </section>
    <div class="informacoes-roteiro">
        <div class="info-roteiro">
            <h4>Dias:</h4>
            <p>{{ roteiro.dias }}</p>
        </div>
        <div class="info-roteiro">
            <h4>Época do ano:</h4>
            <p>{{ roteiro.epoca }}</p>
        </div>
    </div>
    <section class="section-botao-roteiro">
        <form method="post" id="gerar-roteiro-form">
            {% csrf_token %}
            {{ gerar_roteiro_form.as_p }}
            {% if roteiro.roteiro_gerado %}
                <button type="submit" class="botao-roteiro" id="gerar-roteiro-button">Atualizar roteiro através de IA</button>
            {% else %}
                <button type="submit" class="botao-roteiro" id="gerar-roteiro-button">Gerar roteiro através de IA</button>
            {% endif %}
            <div id="loading" style="display: none;">Gerando roteiro...</div>
        </form>
    </section>
    {% if roteiro.roteiro_gerado %}
        <div class="box-ia">
            <h2>Roteiro</h2>
            <p class="texto-ia">{{ roteiro.roteiro_gerado }}</p>
        </div>
    {% endif %}
</main>


<script>
    $(document).ready(function() {
        $('#gerar-roteiro-form').submit(function() {
            $('#gerar-roteiro-button').hide();
            $('#loading').show();
        });
    });
    </script>

{% endblock %}