@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


:root{
    --marrom: #A67458;
    --azul1: #C4EEF2;
    --azul2: #7AB8BF;
    --azul3: #3E848C;
    --azul4: #025159;
}
*{
    font-family: 'Quicksand', sans-serif;
    margin: 0px;
    padding: 0px;
    
}
html {
    scroll-behavior: smooth;
  }
html, body {
    overflow-x: hidden; /* Tenta esconder a barra de rolagem horizontal */
}


.banner{
    height: 50vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 25vh 20vh;
    grid-template-areas: 
        "box1"
        "box2"
    ;
}
.banner-home{
    background-image: url(../assets/home/banner2.jpg);
}
.banner-europa{
    background-image: url(../assets/imagens-cards/europe-large.jpg);
}



.titulo{
    grid-area: box1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.titulo h1{
    font-size: 12vw;
    color: white;
    font-weight: lighter;
}

.menu-principal{
    grid-area: box2;
    display: flex;
    align-items: end;
    justify-content: center;
}
.menu-principal nav{
    display: flex;
    justify-content: space-between;
    gap: 10vw;
}
.menu-principal > nav > a{
    color: #ffffff;
    text-decoration: none;
}

.menu-principal > nav > a:hover{
    transition-duration: 0.3s;
    color: var(--azul2);
}
/*---------------------------------*/

/*---------------------------------*/
.principal{
    display: grid;
    grid-template-columns: 20vw 80vw;
    grid-template-areas: 
        "box1 box2"
    ;
}
.menu-lateral{
    grid-area: box1;
    background-color: white;
    transition: top 0.3s;
}

.menu-lateral nav{
    display: flex;
    flex-direction: column;
    background-color: var(--azul1);
    

}
.menu-lateral > nav > a{
    text-decoration: none;
    padding: 25px;
    color: var(--azul4);
    font-size: 3vh;
    border-bottom: 1px solid var(--azul3);
    border-right:1px solid var(--azul3) ;
    text-align: center;
}
.menu-lateral > nav > a:hover{
    transition-duration: 0.3s;
    color: var(--marrom);
}
.categorias{
    grid-area: box2;
}
.box{
    margin-left: 5vw;
    margin-top: 5vh;
}
.section-cards{
    padding-top: 10vh;
}
.legenda{
    width: 95%;
    font-weight: bold;
    font-size: larger;
    margin-bottom: 5vh;
    text-indent: 2em;
    line-height: 3vh;
}
.descricao{
    width: 95%;
    text-indent: 2em;
    line-height: 4vh;
    font-size: large;
    margin-bottom: 5vh;
}

.titulo-topico{
    margin-top: 3vh;
}

.lista-de-cards{
    margin-top: 2vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.cards{
    list-style: none;
   
    
}
.card{
    margin-top: 3vh;
    text-decoration: none;
    width: 15vw;
    height: 20vh;
    background-color: rgba(0, 0, 0, 0.97);
    position: relative;
    display: inline-block;
    border-radius:10px;
    margin-right: 2vw;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.img-card{
    border-radius:10px;
    width: 100%;
    height: 100%;
    max-width: 100%;
    display: block;
    z-index: 1;
}

.titulo-card{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 5vh;
    font-weight: lighter;
    text-align: center;
    z-index: 3;
}
.card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0); /* Altere a opacidade (o último valor) conforme necessário */
    z-index: 1;
    transition: background-color 0.3s ease-in-out;
    
}

.card:hover::before {
    background-color: rgba(0, 0, 0, 0.8); /* Altere a opacidade (o último valor) conforme necessário */
    
}

footer{
    text-align: center;
}
.box-pontos{
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
.box-cidade{
    width: 95%;
}

.nome-cidade{
    font-weight: bold;
    font-size: 2vw;
    margin-bottom: 5vh;
    border-bottom: 1px solid var(--marrom);
    
}
.nome-ponto{
    border-bottom: 1px solid var(--azul2);
    font-size: 2vw;
    margin-bottom: 5vh;
}
.legenda-cidade{
    text-indent: 2em;
    line-height: 4vh;
    font-size: large;
    margin-bottom: 5vh;
}

.legenda-pontos{
    width: 60%;
    text-indent: 2em;
    line-height: 4vh;
    font-size: large;
    margin-bottom: 5vh;
    text-align: center;
}
.box-imagens{
    margin-bottom: 10vh;
    display: grid;
    grid-template-columns: 30vw 30vw;
    grid-template-rows: 45vh 45vh;
    gap: 20px;
    grid-template-areas: 
        "imagem1 imagem2"
        "imagem3 mapa";
}

.imagem-ponto{
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}
.imagem1{
    grid-area: imagem1;
}
.imagem2{
    grid-area: imagem2;
}
.imagem3{
    grid-area: imagem3;
}
.mapa{
    grid-area: mapa;
    border-radius: 10px;
}
@media (min-width:1300px){
    .menu-lateral.scroll {
        top: 0; 
        position: fixed;
        left: 0;
        width: 20vw;
      }
}

@media (max-width: 1300px) {
    .lista-de-cards{
        width: 100%;
    }
    .cards {
        width: 50%;
    }
    .card{
        width: 90%;
        height: 90%;
    }
    .titulo-card{
        font-size: 4vw;
    }
    .principal{
        display: block;
    }
    .menu-lateral nav{
        flex-direction: column;
        justify-content: center;
        border-bottom: 1px solid var(--azul3);
        align-items: center;
        background-color: #ffffff;
        border: none;
        
        
    }
    .menu-lateral > nav > a{
        text-decoration: none;
        padding: 3vw;
        color: var(--azul4);
        font-size: 3vw;
        width: 100%;
        text-align: center;
       
        
    }
    
}



@media (max-width:700px){
    .titulo-card{
        font-size: 100%;
    }
}