@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


:root{
    --marrom: #A67458;
    --azul1: #C4EEF2;
    --azul2: #7AB8BF;
    --azul3: #3E848C;
    --azul4: #025159;
}
*{
    font-family: 'Quicksand', sans-serif;
    margin: 0px;
    padding: 0px;
    
}
html, body {
    overflow-x: hidden; /* Tenta esconder a barra de rolagem horizontal */
}


.banner{
    height: 50vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 25vh 20vh;
    grid-template-areas: 
        "box1"
        "box2"
    ;
}
.banner-home{
    background-image: url(../assets/home/banner2.jpg);
}
.banner-europa{
    background-image: url(../assets/imagens-cards/europe-large.jpg);
}



.titulo{
    grid-area: box1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.titulo h1{
    font-size: 15vh;
    color: white;
    font-weight: lighter;
}

.menu-principal{
    grid-area: box2;
    display: flex;
    align-items: end;
    justify-content: center;
}
.menu-principal nav{
    display: flex;
    justify-content: space-between;
    gap: 10vw;
}
.menu-principal > nav > a{
    color: #ffffff;
    text-decoration: none;
}

.menu-principal > nav > a:hover{
    transition-duration: 0.3s;
    color: var(--azul2);
}
/*---------------------------------*/
.banner2 {
    position: relative;
    height: 50vh;
    width: 100vw;
    overflow: hidden;
}

.header-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.header-background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.title {
    font-family: 'Quicksand', sans-serif ;
    margin-top: 15vh;
    text-align: center;
    color: white; /* ou a cor desejada para o texto */
    font-size: 5vh;
    font-weight: 300px;
}

.menu {
    margin-bottom: 10px; /* ou a margem desejada */
}

.menu > nav {
    display: flex;
}

.menu > nav > a {
    margin: 0 10px; /* ou a margem desejada entre os links */
    color: white; /* ou a cor desejada para os links */
    text-decoration: none;
}
/*---------------------------------*/
.principal{
    display: grid;
    grid-template-columns: 20vw 80vw;
    grid-template-areas: 
        "box1 box2"
    ;
}
.menu-lateral{
    grid-area: box1;
    background-color: var(--azul1);
}
.menu-lateral nav{
    display: flex;
    flex-direction: column;

}
.menu-lateral > nav > a{
    text-decoration: none;
    padding: 50px;
    color: var(--azul4);
    font-size: 3vh;
    border-bottom: 1px solid var(--azul3);
    border-right:1px solid var(--azul3) ;
}
.menu-lateral > nav > a:hover{
    transition-duration: 0.3s;
    color: var(--marrom);
}
.categorias{
    grid-area: box2;
}
.box{
    margin-left: 5vw;
    margin-top: 5vh;
}
.legenda{
    width: 90%;
    font-weight: bold;
    font-size: larger;
    margin-bottom: 5vh;
}
.descricao{
    width: 90%;
    font-size: large;
    margin-bottom: 5vh;
}

.lista-de-cards{
    margin-top: 2vh;
}
.cards{
    list-style: none;
    
}
.card{
    margin-top: 3vh;
    text-decoration: none;
    width: 15vw;
    height: 20vh;
    background-color: rgba(0, 0, 0, 0.97);
    position: relative;
    display: inline-block;
    border-radius:10px;
    margin-right: 2vw;
    overflow: hidden;
}
.img-card{
    border-radius:10px;
    width: 100%;
    height: 100%;
    max-width: 100%;
    display: block;
    z-index: 1;
}

.titulo-card{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 5vh;
    font-weight: lighter;
    text-align: center;
    z-index: 3;
}
.card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0); /* Altere a opacidade (o último valor) conforme necessário */
    z-index: 1;
    transition: background-color 0.3s ease-in-out;
}

.card:hover::before {
    background-color: rgba(0, 0, 0, 0.8); /* Altere a opacidade (o último valor) conforme necessário */
}

footer{
    text-align: center;
}