{% extends 'home/base.html' %}
{% load static %}
{% block content %}
  
    <header class="banner"  style="background-image: url('{{ card.imagem.url }}');" >
        <div class="titulo">
            <h1>{{ card.nome }}</h1>
        </div>
        {% include 'home/partials/_header.html' %}
    </header>   
    <main class="principal">
        {% include 'home/partials/_menu-lateral.html' %}
        <section class="categorias">
            <div class="box">
                <h2>Para curtir o verão</h2>
                <ul class="lista-de-cards">
                    <li class="cards">
                        {% if dados %}
                        {% for i in dados %}
                        <a href="{% url 'continente' i.id %}" class="card" >
                            <img  class="img-card" src="{% static 'assets/imagens-cards/' %}{{ i.imagem }}" alt="">
                            <p class="titulo-card" >{{ i.nome }}</p>
                        </a>
                        {% endfor %}
                        {% else %}
                        {%  endif %}
                    </li>
                </ul>
            </div>
        </section>
    </main>   
{% endblock %}