{% extends 'home/base.html' %}
{% load static %}
{% block content %}
  
    <header class="banner"  style="background-image: url('{{ card.imagem.url }}');" >
        <div class="titulo">
            <h1>{{ card.nome }}</h1>
        </div>
        {% include 'home/partials/_header.html' %}
    </header>   
    <main class="principal">
        {% include 'home/partials/_menu-lateral.html' %}
        <section class="categorias">
            <div class="box">
                <p class="legenda">{{ card.legenda }}</p>
                <p class="descricao">{{ card.descricao }}</p>
                
                {% include 'home/partials/_exibir-cards.html' with  id=1 titulo='Os mais queridinhos' dados=dados_paises_populares url_nome='pais' %}

                {% include 'home/partials/_exibir-cards.html' with id=2 titulo='Para os amantes de história' dados=dados_paises_historicos url_nome='pais' %}

                {% include 'home/partials/_exibir-cards.html' with id=3 titulo='Para sentir um choque cultural' dados=dados_paises_choque_cultural url_nome='pais' %}

                {% include 'home/partials/_exibir-cards.html' with id=4 titulo='Para aproveitar o verão' dados=dados_paises_verao url_nome='pais' %}

                {% include 'home/partials/_exibir-cards.html' with  id=5 titulo='Para sentir o encanto do inverno' dados=dados_paises_inverno url_nome='pais' %}

                {% include 'home/partials/_exibir-cards.html' with id=6 titulo='Para desfrutar do colorido da primavera' dados=dados_paises_primavera url_nome='pais' %}

                {% include 'home/partials/_exibir-cards.html' with id=7 titulo='Para admirar o laranja avermelhado do outono' dados=dados_paises_outono url_nome='pais' %}


                
                
            </div>
        </section>
    </main>   
{% endblock %}