{% extends 'home/base.html' %}
{% load static %}
{% block content %}
  
    <header class="banner"  style="background-image: url('{{ card.imagem.url }}');" >
        <div class="titulo">
            <h1>{{ card.nome }}</h1>
        </div>
        {% include 'home/partials/_header.html' %}
    </header>   
    <main class="principal">
        {% include 'home/partials/_menu-lateral.html' %}
        <section class="categorias">
            <div class="box">
                <p class="legenda">{{ card.legenda }}</p>
                <p class="descricao">{{ card.descricao }}</p>
                
                {% include 'home/partials/_exibir-cards.html' with titulo='Os mais queridinhos' dados=dados_pais_populares url_nome='continente' %}
                
            </div>
        </section>
    </main>   
{% endblock %}