{% extends 'home/base.html' %}
{% load static %}
{% block content %}
    <header class="banner banner-home" >
        {% include 'home/partials/_header.html' %}
    </header>    
    <main class="principal">
        {% include 'home/partials/_menu-lateral.html' %}
        <section class="categorias">
            <div class="box">
                <h2>Por Continentes</h2>
                <ul class="lista-de-cards">
                    <li class="cards"  >
                        {% if dados %}
                        {% for i in dados %}
                        <a href="{% url 'continente' %}" class="card" style="background-image: url('/static/assets/europa/{{ i.imagem }}'); ">
                            {{ i.nome }}
                        </a>
                        {% endfor %}
                        {% else %}
                        {%  endif %}
                    </li>
                    
                </ul>
            </div>
        </section>
    </main>   
{% endblock %}