{% extends 'shared/base.html' %}
{% load static %}
{% block content %}
  
    <header class="banner"  style="background-image: url('{{ item_pais.imagem.url }}');" >
        
        <div class="titulo">
            <h1>{{ item_pais.nome }}</h1>
        </div>
        {% include 'home/partials/_header.html' %}
    </header>   
    <main class="main-pais">
        
        <section class="categorias">
            <div class="box">
                <div class="box-pontos">
                    <p class="legenda">{{ item_pais.legenda }}</p>
                    <p class="descricao">{{ item_pais.descricao }}</p>
                    {% for cidade in dados_cidades %}
                    <div class="box-cidade">
                        <p class="nome-cidade">{{ cidade.nome }}</p>
                        <p class="legenda-cidade">{{ cidade.legenda }}</p>
                    </div>
                        {% for ponto in dados_pontos_turisticos %}
                        {% if ponto.cidade_relacionada == cidade %}
                        <p class="nome-ponto">{{ ponto.nome }}</p>
                        <p class="legenda-pontos">{{ ponto.legenda }}</p>
                        <div class="box-imagens" >
                            <div class="imagem-ponto imagem1" style="background-image:url('{{ ponto.imagem1.url }}') ;"></div>
                            <div class="imagem-ponto imagem2" style="background-image:url('{{ ponto.imagem2.url }}') ;"></div>
                            <div class="imagem-ponto imagem3" style="background-image:url('{{ ponto.imagem3.url }}') ;"></div>
                            <div
                                        class="mapa"
                            
                                        data-latitude="{{ ponto.latitude }}"
                                        data-longitude="{{ ponto.longitude }}"
                                        data-id="{{ ponto.id }}"
                                    ></div>
                        </div>
                                <script>
                                    window.onload = function() {
                                        var mapElements = document.querySelectorAll('.mapa');
                                        mapElements.forEach(function(element) {
                                            element.getAttribute('data-latitude'), 'Longitude:', element.getAttribute('data-longitude')
                                            var latitude = parseFloat(element.getAttribute('data-latitude'));
                                            var longitude = parseFloat(element.getAttribute('data-longitude'));
                                            var map = L.map(element).setView([latitude,longitude], 16);
                                            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(map);
                                            L.marker([latitude, longitude]).addTo(map);
                                        });
                                    };
                                </script>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                    
                </div>
            </div>
        </section>
        <div class="adicionar-roteiro">
            <a class="botao-roteiro" onclick="abrirModal()">Adicionar ao roteiro</a>
        </div>
        <div class="janela-modal" id="janela-modal">
            <div class="modal" id="modal">
                <button  class="fechar" id="fechar">X</button>
                <p>testando</p>
            </div>
        </div>
        <script>
            function abrirModal(){
                const janelaModal = document.getElementById('janela-modal');
                janelaModal.classList.add('abrir')
                const fechar = document.getElementById('fechar')
                janelaModal.addEventListener('click',(e)=>{
                    if(e.target.id =='janela-modal' || e.target.id =='fechar'){
                        janelaModal.classList.remove('abrir')
                    }
                })
            }

        </script>
    </main>   
    
{% endblock %}
