{% extends 'shared/base.html' %}
{% load static %}
{% block content %}
  
    <header class="banner"  style="background-image: url('{{ item_pais.imagem.url }}');" >
        
        <div class="titulo">
            <h1>{{ item_pais.nome }}</h1>
        </div>
        {% include 'home/partials/_header.html' %}
    </header>   
    <main class="main-pais">
        
        <section class="categorias">
            <div class="box">
                <div class="box-pontos">
                    <p class="legenda">{{ item_pais.legenda }}</p>
                    <p class="descricao">{{ item_pais.descricao }}</p>
                    {% for cidade in dados_cidades %}
                    <div class="box-cidade">
                        <p class="nome-cidade">{{ cidade.nome }}</p>
                        <p class="legenda-cidade">{{ cidade.legenda }}</p>
                    </div>
                        {% for ponto in dados_pontos_turisticos %}
                        {% if ponto.cidade_relacionada == cidade %}
                        <p class="nome-ponto">{{ ponto.nome }}</p>
                        <p class="legenda-pontos">{{ ponto.legenda }}</p>
                        <div class="box-imagens" >
                            <div class="imagem-ponto imagem1" style="background-image:url('{{ ponto.imagem1.url }}') ;"></div>
                            <div class="imagem-ponto imagem2" style="background-image:url('{{ ponto.imagem2.url }}') ;"></div>
                            <div class="imagem-ponto imagem3" style="background-image:url('{{ ponto.imagem3.url }}') ;"></div>
                            <div
                                        class="mapa"
                            
                                        data-latitude="{{ ponto.latitude }}"
                                        data-longitude="{{ ponto.longitude }}"
                                        data-id="{{ ponto.id }}"
                                    ></div>
                        </div>
                                <script>
                                    window.onload = function() {
                                        var mapElements = document.querySelectorAll('.mapa');
                                        mapElements.forEach(function(element) {
                                            element.getAttribute('data-latitude'), 'Longitude:', element.getAttribute('data-longitude')
                                            var latitude = parseFloat(element.getAttribute('data-latitude'));
                                            var longitude = parseFloat(element.getAttribute('data-longitude'));
                                            var map = L.map(element).setView([latitude,longitude], 16);
                                            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(map);
                                            L.marker([latitude, longitude]).addTo(map);
                                        });
                                    };
                                </script>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                    
                </div>
            </div>
        </section>
        <div class="adicionar-roteiro">
            <a class="botao-roteiro" onclick="abrirModal()">Adicionar ao roteiro</a>
        </div>
        <div class="janela-modal" id="janela-modal">
            <div class="modal" id="modal">
                <button  class="fechar" id="fechar">X</button>
                <section class="box-roteiros" id="roteiros">
                    <div class="roteiros">
                        {% for roteiro in roteiros %}
                            <div class="roteiro-card">
                                <div class="info-roteiro">
                                    <h2>{{ roteiro.nome }}</h2>
                                </div>
                                <div class="info-roteiro">
                                    <h4>Dias:</h4>
                                    <p>{{ roteiro.dias }}</p>
                                </div>
                                <div class="info-roteiro">
                                    <h4>Época do ano:</h4>
                                    <p>{{ roteiro.epoca }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <button class="botao-roteiro" onclick="abrirForm()" style="margin-top: 25px;" >Criar roteiro</button>
                </section>
                
               
                <form class="formulario-roteiro" id="formulario-roteiro" style="display: none;" method="POST" >
                    {% csrf_token %}
                    {% for field in form_roteiro.visible_fields %}
                        <div class="campo-texto">
                            <label class="label-acesso" for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {{ field }}
                        </div>
                    {% endfor %}
                    
                    <button class="botao-roteiro" style="margin-top: 25px;" type="submit">Criar roteiro</button>
                </form>
            </div>
        </div>
        <script>
            function abrirForm(){
                const roteiros = document.getElementById('roteiros')
                const formulario = document.getElementById('formulario-roteiro')
                formulario.style.display = 'flex'
                roteiros.style.display='none'
            }
        </script>
        <script>
            function abrirModal(){
                const janelaModal = document.getElementById('janela-modal');
                janelaModal.classList.add('abrir')
                const fechar = document.getElementById('fechar')
                const roteiros = document.getElementById('roteiros')
                const formulario = document.getElementById('formulario-roteiro')
                janelaModal.addEventListener('click',(e)=>{
                    if(e.target.id =='janela-modal' || e.target.id =='fechar'){
                        janelaModal.classList.remove('abrir')
                        roteiros.style.display='flex'
                        formulario.style.display='none'
                    }
                })
            }

        </script>
    </main>   
    
{% endblock %}
