{% extends 'home/base.html' %}
{% load static %}
<style>
    .main-login .menu-principal{
        background-color: aqua;
        height: 50px;
        width: 50px;
    }
</style>

{% block content %}

<main class="main-login">
    {% include 'home/partials/_header.html' %}
    <div class="div-form">
        {% block titulo_formulario %}
        
        {% endblock titulo_formulario %}
        <form class="formulario">
            {% block conteudo_formulario %}{% endblock conteudo_formulario %}
        </form>
    </div>
</main>

{% endblock content %}