
{% block exibir-cards  %}
    <section class="section-cards" id="section-{{id}}">
        <h2 class="titulo-topico">{{ titulo }}</h2>
        <ul class="lista-de-cards">
            {% if dados %}
                {% for item in dados %}
                {% if id_roteiro %}
                    <a href="{% url 'remover_pais_roteiro' pais_id=item.id roteiro_id=id_roteiro %}" class="remove-pais"></a>
                {% endif %}
                    <li class="cards">
                        <a href="{% url url_nome item.id %}" class="card">
                            
                            {% if page %}
                                <img class="img-card" src="{{ item.imagem }}" alt="">
                                
                            {% else %}
                                <img class="img-card" src="{{ item.imagem.url }}" alt="">
                            {% endif %}
                            <p class="titulo-card">{{ item.nome }}</p>
                        </a>
                    </li>
                {% endfor %}
            {% else %}
                <li>
                    <p>Nenhum país adicionado ainda</p>
                </li>
            {% endif %}
        </ul>
    </section>
{% endblock %}